.navLink{
    text-decoration: none !important;
    color: white !important;
    font-size: 20px;
    margin-right: 2rem;
    padding-left: 1rem !important;
}
a :hover{
    background-color: black;
    color: white;
}

.ourTagLine{
    color: white;
    padding-left: 1rem;
    font-size: 1rem;
}

.LogoClass{
    margin-left: 1rem;
    width: 5rem;
    height: auto;
}

.NavbarClass{
    background-color: #ff9600;
}
